 @tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0F4FD;
}

.body{
 display: flex;
}

.sidebar{
  background-color: #9EB4E6;
  font-size: 4rem;
  font-weight: 700;
  color: white;
  width: 400px;
  height: 100vh;
  position: fixed;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  margin-left: 400px;
}


.zekken {
  display: flex;
  gap: 2em;
  font-size: 2rem;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.box{
  font-size: 1.6rem;
  background-color: white;
  margin: 15px;
  width: 320px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.box h2{
  font-size: 2rem;
}

.buy{
  width: 100px;
  height: 70px;
  font-size: 2rem;
  font-weight: 700;
  background-color: #9EB4E6;
  color: white;
  border-radius: 30px;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  margin: 20px 10px 10px 10px;
}

.buy:hover{
  background-color: #8fa6db;
}

.whole{
  position: relative;
  margin-top: 20px;
  width: 80rem;
  height: 410px;
  display: flex;
  justify-content: center;
}

.slideshow-container {
  width: 70rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.mySlides {
  display: none;
}

.mySlides.active {
  display: block;
}

.prev,
.next {
  background-color: #9EB4E6;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  width: 100px;
  border: none;
  border-radius: 30px;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.page-number {
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  left: 0;
}
