@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F0F4FD;
}

.body{
  display: flex;
  flex-direction: row;
}

.sidebar{
  background-color: #9EB4E6;
  width: 400px;
  height: 100vh;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titel{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: white;
}

button{
  color: #9EB4E6;
  background-color: white;
  border-radius: 40px;
  font-size: 3.5rem;
  width: 350px;
  height: 100px;
  font-weight: 700;
  box-shadow: 4px 1px 4px rgb(0, 0, 0, 25%);
}

button:hover{
  background-color: rgb(236, 236, 236);
}

/* .box{
  border-top: #9EB4E6 solid 5px;
  border-bottom: #9EB4E6 solid 5px;
  height: 200px;
  width: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.text{
margin-left: 450px;
} */

.buy{
  width: 100px;
  height: 100px;
  font-size: 2rem;
}

.portfolio{
  border-radius: 10px;
  border: solid #9EB4E6 5px;
  font-size: 2rem;
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}